<template name="home">
  <div class="template-home">
    <div class="jumbotron">
    	<h1>{{ siteTitle}} </h1> <!-- C&oslash;d&ecirc;x -->
    	<p class="lead">Track Book Dev <small class="italic">&hellip; from raw, unscanned to final output!</small></p>
    	<p><a href="{{pathFor 'dashboard'}}" class="btn btn-lg btn-default">Books</a></p>
    </div> <!-- end div.jumbotron -->
		
		<div class="row">
			<div class="col-lg-4">
				<h2><i class="fa fa-book"></i> Book Catalog</h2>
				<p>A complete, sortable list of all books in the collection.</p>
			</div>

			<div class="col-lg-4">
				<h2><i class="fa fa-twitch"> Make Notes</i></h2>
				<p>Add Notes relevant to any book.</p>
			</div>

			<div class="col-lg-4">
				<h2><i class="fa fa-thumb-tack"> Track Tasks</i></h2>
				<p>Track tasks &amp; always stay up-to-date on project status.</p>
			</div>

			<div class="col-lg-4">
				<h2><i class="fa fa-calendar"> Manage Schedules</i></h2>
				<p>Keep a bird's eye view of due dates &amp; project progress.</p>
			</div>

			<div class="col-lg-4">
				<h2><i class="fa fa-external-link-square"> Link Files</i></h2>
				<p>Upload &amp; track related files as the book is developed.</p>
			</div>

			<div class="col-lg-4">
				<h2><i class="fa fa-bar-chart"> Track Data</i></h2>
				<p>Track data from sales, web analytics &amp; more.</p>
			</div>
		</div>

  </div> <!-- end div.template-home -->
</template>
