<template name="sidebar">
	<div class="col-md-2">
		<ul class="nav nav-sidebar">
			<li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="{{pathFor 'books'}}"><i class="fa fa-book"></i> Books</a></li>
			<li><a href="{{pathFor 'tasks'}}"><i class="fa fa-thumb-tack"></i> Tasks</a></li>
			<li><a href="{{pathFor 'calendar'}}"><i class="fa fa-calendar"></i> Calendar</a></li>
			<li><a href="{{pathFor 'analytics'}}"><i class="fa fa-bar-chart"></i> Analytics</a></li>
			<li><a href="{{pathFor 'archives'}}"><i class="fa fa-database"></i> Archives</a></li>
		</ul>
	</div>
</template>