<template name="status">
	<div class="row status">
		<h3>Book Dev Status</h3>
		<ul>
			<li><input type="checkbox"> Raw</li>
			<li><input type="checkbox"> .rtf</li>
			<li><input type="checkbox"> PDF-raw</li>
			<li><input type="checkbox"> GoodNote-marked</li>
			<li><input type="checkbox"> docx-ed</li>
			<li><input type="checkbox"> INDD</li>
			<li><input type="checkbox"> MD</li>
			<li><input type="checkbox"> ePub</li>
			<li><input type="checkbox"> .mobi</li>
			<li><input type="checkbox"> print</li>
			<li><input type="checkbox"> audio</li>
		</ul>

<!-- 		<form action="" method="POST" role="form">
			<legend>Book Dev Status</legend>
		
			<div class="form-group">
				<label for="">raw</label>
				<input type="checkbox" class="form-control" id="" placeholder="Input field">

				<label for="">edited</label>
				<input type="checkbox" class="form-control" id="" placeholder="Input field">

				<label for="">.indd</label>
				<input type="checkbox" class="form-control" id="" placeholder="Input field">

				<label for="">ePub</label>
				<input type="checkbox" class="form-control" id="" placeholder="Input field">

				<label for="">Print</label>
				<input type="checkbox" class="form-control" id="" placeholder="Input field">
			</div>
		</form>
 -->

	</div>
</template>