<template name="bookView">
	<h3>{{name}} &mdash; Details</h3>
	<dl class="dl-horizontal">
		<dt>Title</dt>
		<dd>{{name}}</dd>
		<dt>Author</dt>
		<dd>{{author}}Ward Sterling</dd>
		<dt>Original Publication</dt>
		<dd>{{o_pub}}Black Mask</dd>
		<dt>Original Pub Date</dt>
		<dd>{{o_pubdate}}Jan 1920</dd>
		<dt>SubGenre</dt>
		<dd>{{subgenre}}Noir</dd>
	</dl>
<!-- 



	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>{{name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Title</td>
				<td>Author</td>
				<td>Original Publication</td>
				<td>Original Pub Date</td>
				<td>Sub-Genre</td>
				<td>Word Count</td>
			</tr>
			<tr>
				<td>{{name}}</td>
				<td>{{author}}</td>
				<td>{{o_pub}}</td>
				<td>{{o_pubdate}}</td>
				<td>{{subgenre}}</td>
				<td>{{wordcount}}</td>
			</tr>
		</tbody>
	</table> -->
</template>



<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><span style="font-style: italic;color:darkred;">{{name}}</span> Details</h3>
		</div> <!-- end of div.panel-heading
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					Activity
					Uploads
				</div>
				<div class="col-md-9">
					Calendar
					Conversations
				</div>
				<div class="col-md-8">
					Todo List
				</div>
				<div class="col-md-4">
					Invited
				</div>
			</div>
		</div> <!-- end div panel-body
	</div> -->